{% extends "application.html" %}
{% block body %}
<div class="question-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal text-body-emphasis">一問一答</h1>
</div>

<div class="d-grid gap-2">
    <p class="fs-5 text-body-secondary">問題{{question.q_number}}</p>
    <p class="fs-5 text-body-secondary">{{question.q_text}}</p>

    <div id="liveAlertPlaceholder"></div>
    
    <div class="row gap-1 justify-content-evenly">
    {% for opt in question.opts %}
            {% if loop.index0+1 == question.ans %}
                <button class="btn btn-primary" type="button" id="correctAnswerBtn">{{opt}}</button>
            {% else %}
                <button class="btn btn-primary" type="button" id="incorrectAnswerBtn{{loop.index0}}">{{opt}}</button>
            {% endif %}
    {% endfor %}
    </div>
    <p class="fs-5 text-body-secondary" id="explanation">{{question.explanation}}</p>

</div>

<div class="p-3 pb-md-4 mx-auto">
    <div class="row justify-content-evenly">
      <div class="col-4 text-center">
        <button type="button" class="btn btn-outline-info btn-lg"><a href={{ url_for('question') }}>次の問題</a></button>
      </div>
    </div>
</div>
{% endblock body %}